<!-- HOME -->
			<section id="home">
						
				<div class="container text-center">
					
					<h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Residential Services</h1>

					<div class="row mt-100 text-left">

						<div class="col-md-8 col-sm-12 mb-30">
							<a><%= image_tag"AdobeStock_124493370.jpeg", :class => "img-fluid"%></a>
						</div>

						<div class="col-md-4 col-sm-12">
							<h3 class="fw-300">Product <span>Overview</span></h3>
						
							<p>Rocket Elevators Residential Services is able to provide you with residential grade elevators for your multie level home or apartment complex, at affordable pricing.</p>
							<p>Go to our online portfolio to see some of the past residential projects we have worked on. Please contact us using the contact form for further information. </p>
							
							<hr />

							<ul class="list-unstyled list-icons">
								<li><i class="fa fa-check"></i> Same day quotes</li>
								<li><i class="fa fa-check"></i> Affordable pricing</li>
								<li><i class="fa fa-check"></i> professional team</li>
								<li><i class="fa fa-check"></i> experienced elevator installation team</li>
								<li><i class="fa fa-check"></i> Fastest home elevator speeds</li>
							</ul>

						</div>
					</div>

				</div>

			</section>
			<!-- /HOME -->


			<!-- PRICING -->
			<section id="pricing">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Elevator Pricing</h2>
						<p class="lead font-lato">Affordable prcing to get you started with elevator services in your residence</p>
						<hr />
					</header>

					<div class="row" style="padding-left: 160px;">

						<div class="col-md-3 col-sm-3" >
							
							<div class="price-clean">                                
								<h4>
									<sup>$</sup>7 565<em></em>
								</h4>
								<h5> Standard </h5>
								<hr />
								<p>Plus 10% installation fee</p>
								<hr />
								<a href="quote.html" class="btn btn-3d btn-teal">Get Quote</a>
							</div>
						
						</div>

						<div class="col-md-3 col-sm-3">
							
							<div class="price-clean">                                
								<h4>
									<sup>$</sup>12 345<em></em>
								</h4>
								<h5> Premium </h5>
								<hr />
								<p>Plus 13% installation fee</p>
								<hr />
								<a href="quote.html" class="btn btn-3d btn-teal">Get Quote</a>
							</div>
						
						</div>

						<div class="col-md-3 col-sm-3">
							
							<div class="price-clean">                                
								<h4>
									<sup>$</sup>15 400<em></em>
								</h4>
								<h5> Excelium </h5>
								<hr />
								<p>Plus 16% installation fee</p>
								<hr />
								<a href="quote.html" class="btn btn-3d btn-teal">Get Quote</a>
							</div>
						
						</div>

					</div>

				</div>
			</section>
			<!-- /PRICING -->



			<!-- TESTIMONIALS -->
			<section id="testimonials" class="alternate">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Testimonials</h2>
						<p class="lead font-lato">See what some recent customer have said about our installation services</p>
						<hr />
					</header>

					<!-- 
						Note: remove class="rounded" from the img for squared image!
					-->
					<div class="row mb-60">
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag"people/300x300/2-min.jpg", :class => "rounded"%>
								</figure>
								<div class="testimonial-content">
									<p>They were very fast and pricing was reasonable. I had my new elevator installed within a few days!</p>
									<cite>
										Felicia Doe
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag"people/300x300/1-min.jpg", :class => "rounded"%>
								</figure>
								<div class="testimonial-content">
									<p>They came all the way out to our farm in the middle of nowhere to install the elevator. Fast and professional!</p>
									<cite>
										Joana Doe
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag"people/300x300/6-min.jpg", :class => "rounded"%>
								</figure>
								<div class="testimonial-content">
									<p>Very good serviuce. My apartment complex had it's 3 elevators installed and opporating within a few weeks!</p>
									<cite>
										Melissa Doe
									</cite>
								</div>
							</div>
						</div>
					</div>

					<!-- 
						Note: remove class="rounded" from the img for squared image!
					-->
					<ul class="row clearfix testimonial-dotted list-unstyled">
						<li class="col-md-4">
							<div class="testimonial">
								<figure class="float-left">
									<%= image_tag"people/300x300/2-min.jpg", :class => "rounded"%>
								</figure>
								<div class="testimonial-content">
									<p>If you need an elevator for your residence I would recommend Rocket Elevators for sure.</p>
									<cite>
										Joana Doe
									</cite>
								</div>
							</div>
						</li>
						<li class="col-md-4">
							<div class="testimonial">
								<figure class="float-left">
									<%= image_tag"people/300x300/6-min.jpg", :class => "rounded"%>
								</figure>
								<div class="testimonial-content">
									<p>Fast and reliable, professional installation team, fair pricing!</p>
									<cite>
										Melissa Doe
									</cite>
								</div>
							</div>
						</li>
						<li class="col-md-4">
							<div class="testimonial">
								<figure class="float-left">
									<%= image_tag"people/300x300/7-min.jpg", :class => "rounded"%>
								</figure>
								<div class="testimonial-content">
									<p>Very good! if I need another elevator job done I will use them again for sure!</p>
									<cite>
										Stephany Doe
									</cite>
								</div>
							</div>
						</li>
					</ul>

				</div>
			</section>
			<!-- /TESTIMONIALS -->